## Group proposal
Title: Heart Disease Diagnostic Tool

In [5]:
library(rvest)
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Introduction:

In [18]:
set.seed(293)

dataset_test <- download.file(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data", 
    "heart_disease.csv")

heart_data <- read_csv("heart_disease.csv", col_names = FALSE)


heart_data <- rename(heart_data, 
                     age =X1,
                     sex =X2,
                     cp =X3,
                     trestbps =X4,
                     chol = X5,
                     fbs =X6,
                     restecg=X7,
                     thalach=X8,
                     exang=X9,
                     oldpeak=X10,
                     slope=X11,
                     ca=X12,
                     thal=X13,
                     num=X14)

idx <- heart_data == "?"
is.na(heart_data) <- idx                                 #eliminates ? and replaces with NA

heart_data[] <- sapply(heart_data, as.numeric) #converts all the data to numeric

names = c('sex', 'cp', 'exang', 'slope', 'thal', 'num') #unsure if ca is a factor
heart_data[,names] <- lapply(heart_data[,names] , factor)

#levels(heart_data$num) <- list( '0' = "Negative", '1' = "Postive", '2' = "Postive", '3' = "Postive", '4' = "Postive")


heart_data


heart_split <- initial_split(heart_data, prop = 0.75, strata = num)
heart_train <- training(heart_split)
heart_test <- testing(heart_split) 

heart_train

train_summary <- c("mean", "sd", "observations", "min", "max")

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X6, X7, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X5, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   32  1   1   95      0    NA   0      127     0     0.7     1     NA NA
2   34  1   4  115      0    NA  NA      154     0     0.2     1     NA NA
3   35  1   4   NA      0    NA   0      130     1      NA     NA    NA 7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
121 72  1   3  160      0    NA  2       114     0     1.6     2      2 NA
122 73  0   3  160      0     0  1       121     0     0.0     1     NA 3
123 74  1   2  145      0    NA  1       123     0     1.3     1     NA NA
    num
1   1
2   1
3   3
⋮   ⋮
121 0
122 1
123 1

   age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1  32  1   1   95      0    NA   0      127     0     0.7     1     NA NA   1
2  34  1   4  115      0    NA  NA      154     0     0.2     1     NA NA   1
3  36  1   4  110      0    NA   0      125     1     1.0     2     NA 6    1
⋮  ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮    ⋮
89 68  1   4  135      0    0   1       120     1      0      1     NA 7    3
90 69  1   4   NA      0    0   1        NA     NA    NA      NA    NA 7    3
91 70  1   4  140      0    1   0       157     1      2      2     NA 7    3