## Group proposal
Title: Heart Disease Diagnostic Tool

In [23]:
library(rvest)
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Introduction:

In [38]:
set.seed(293)

dataset_test <- download.file(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data", 
    "heart_disease.csv")

heart_data <- read_csv("heart_disease.csv", col_names = FALSE)


heart_data <- rename(heart_data, 
                     age =X1,
                     sex =X2,
                     cp =X3,
                     trestbps =X4,
                     chol = X5,
                     fbs =X6,
                     restecg=X7,
                     thalach=X8,
                     exang=X9,
                     oldpeak=X10,
                     slope=X11,
                     ca=X12,
                     thal=X13,
                     diagnosis=X14)

idx <- heart_data == "?"
is.na(heart_data) <- idx                                 #eliminates ? and replaces with NA

heart_data[] <- sapply(heart_data, as.numeric) #converts all the data to numeric

names = c('sex', 'cp', 'exang', 'slope', 'thal', 'diagnosis') #unsure if ca is a factor
heart_data[,names] <- lapply(heart_data[,names] , factor)

heart_data <- mutate(heart_data, diagnosis = ifelse(diagnosis == "1"|diagnosis == "2"|diagnosis == "3"|diagnosis == "4", "Positive", "Negative"))
heart_data <- mutate(heart_data, diagnosis = as.factor(diagnosis))          #changes the diagnosis values to strings

heart_data



heart_split <- initial_split(heart_data, prop = 0.75, strata = diagnosis)          #splits data
heart_train <- training(heart_split)
heart_test <- testing(heart_split) 

heart_train


heart_table = matrix(c(1:70), ncol = 14, byrow=TRUE)
colnames(heart_table) = c("age","sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", 
                          "exang", "oldpeak", "slope", "ca", "thal", "diagnosis")
rownames(heart_table) <- c("mean", "sd", "observations", "min", "max")

heart_table

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X6, X7, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X5, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   32  1   1   95      0    NA   0      127     0     0.7     1     NA NA
2   34  1   4  115      0    NA  NA      154     0     0.2     1     NA NA
3   35  1   4   NA      0    NA   0      130     1      NA     NA    NA 7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
121 72  1   3  160      0    NA  2       114     0     1.6     2      2 NA
122 73  0   3  160      0     0  1       121     0     0.0     1     NA 3
123 74  1   2  145      0    NA  1       123     0     1.3     1     NA NA
    diagnosis
1   Positive
2   Positive
3   Positive
⋮   ⋮
121 Negative
122 Positive
123 Positive

   age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1  32  1   1   95      0    NA   0      127     0     0.7     1     NA NA
2  34  1   4  115      0    NA  NA      154     0     0.2     1     NA NA
3  35  1   4   NA      0    NA   0      130     1      NA     NA    NA 7
⋮  ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
90 70  1   4  140      0     1  0       157     1     2.0     2     NA 7
91 73  0   3  160      0     0  1       121     0     0.0     1     NA 3
92 74  1   2  145      0    NA  1       123     0     1.3     1     NA NA
   diagnosis
1  Positive
2  Positive
3  Positive
⋮  ⋮
90 Positive
91 Positive
92 Positive

             age sex cp trestbps chol fbs restecg thalach exang oldpeak slope
mean          1   2   3  4        5    6   7       8       9    10      11
sd           15  16  17 18       19   20  21      22      23    24      25
observations 29  30  31 32       33   34  35      36      37    38      39
min          43  44  45 46       47   48  49      50      51    52      53
max          57  58  59 60       61   62  63      64      65    66      67
             ca thal diagnosis
mean         12 13   14
sd           26 27   28
observations 40 41   42
min          54 55   56
max          68 69   70